# User-specific stuff
**/.idea/compiler.xml
**/.idea/workspace.xml
**/.idea/vcs.xml
### Terraform ###
# Local .terraform directories
**/.terraform/*

# .tfstate files
*.tfstate
*.tfstate.*

# Vagrant
**/.vagrant/
